<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{user[1]}}</h1>

    <form action="/complaint" method="post">
        <select name="department" id="dpt">
            {% for department in departments %}
            <option value="{{department[0]}}">{{department[1]}}</option>
            {% endfor %}
        </select>
        <textarea name="description" id="desc" cols="30" rows="10" placeholder="Description">
        </textarea>
        <button>Submit</button>
    </form>
    <a href="/logout">Logout</a>
    <script>
        {% if status %}
        alert("{{status}}")
        {% endif %}
    </script>
</body>
</html>